* {
   margin: 0;
   box-sizing: border-box;
}

body {
   background-color: antiquewhite;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   min-height: 100vh;
   margin: 0;
   font-family: "Lato", sans-serif;
}

.home_container {
   margin-top: 30px;
}

.home_incExpContainer {
   background-color: #fff;
   box-shadow: var(--box-shadow);
   padding: 20px;
   display: flex;
   justify-content: space-between;
   margin: 20px 0;
}

.history_list {
   margin-top: 10px;
}

.transaction_container {
   margin-top: 30px;
}

.transaction_form {
   margin-top: 20px;
   display: grid;
}

.transaction_formBtn {
   margin-top: 15px;
}

.transaction_formLabel {
   margin-top: 10px;
}
